@CHARSET "UTF-8";
body {
    background-color: #A4A4A4;
}

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar ul{
    list-style-type: none;
    margin: -7;
    padding: 0;
    overflow: hidden;
    background-color: #3B0B17;
}

.navbar .navbar-header {
    display: block;
    color: #00000;
    font-size: 14px !important;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #FFFFFF;
    margin: -7;
}

.navbar li{
	float: left;
}

.navbar .contact{
	float: right;
}

.navbar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #444;
}

h1{
	font-size: 25;
}

p,a{
	font-size:16;
	text-align: justify;
}

.presentation, .actu{
	display:            inline-block;
	/*border: 2px solid #ccc;*/
	padding:20px;
	width:             	600px;
	height:             300px;
	opacity:            1;
	vertical-align:     middle;
}

.presentation{
	float: left;
}

.actu{
	float: right;
}

.form{
	padding:20px;
}

.nombre{
	text-indent: 28px;
}

input[type=text] {
    width: 130px;
    color: #848484;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('apple-touch-icon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
}
